.main-register-div {
  /* background-color: red; */
  /* background-color: rgb(29, 25, 25); */
}

.register-heading-div {
  background-color: #ed1c24;
  width: 43%;
  margin: auto;
}

.register-heading {
  color: white;
  font-size: 15px;
  padding: 10px;
  text-align: center;
}

.student-info-div {
  /* background-color: brown; */
  width: 43%;
  margin: auto;
}

.name-input {
  width: 225px;
  padding: 3.5px;
  margin-top: 5px;
  outline: none;
  box-sizing: border-box;
  border: 1px solid rgb(213, 211, 211);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 3px;
}

.name-input:focus {
  border: 1px solid rgb(27, 120, 220);
}

.ielts-score-div {
  width: 65%;
  padding-top: 25px;
  margin: auto;
  /* background-color: aqua; */
}
.ielts-input-div {
  width: 60%;
  margin: auto;
  text-align: center;
  /* background-color: rgb(5, 39, 39); */
}

.listening-input,
.reading-input,
.writing-input,
.speaking-input {
  width: 60px;
  padding: 3px;
  /* margin: 2px; */
  outline: none;
  box-sizing: border-box;
  border: 1px solid rgb(213, 211, 211);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 1px;
}

.overallband-input {
  width: 80px;
  padding: 4px;
  /* margin: 5px; */
  outline: none;
  box-sizing: border-box;
  border: 1px solid rgb(213, 211, 211);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 1px;
}

.cancelButton,
.register-Button {
  background-color: #ed1c24;
  border: none;
  color: white;
  height: 37px;
  width: 230px;
  text-decoration: none;
  cursor: pointer;
}

.cancelButton {
  margin-right: 10px;
}
.register-Button {
  margin-left: 10px;
}

.cancelButton:hover,
.register-Button:hover {
  background-color: #2c2c2c;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.okButton {
  background-color: #ed1c24;
  border: none;
  color: white;
  height: 32px;
  width: 105px;
  text-decoration: none;
  cursor: pointer;
}
